@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("/pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}

.relax {
  font-family: "Caveat", "cursive";
  font-weight: 700;
  font: bolder;
}

.leading-relaxed {
  font-family: cursive;
  font-weight: 700;
  font: bolder;
}
